<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h2>Добро пожаловать, {{ user.username }}!</h2>
        <a href="/tasks/logout">Выйти</a>
    </div>
    <h2>Это твои задачи:</h2>

    <!-- Здесь будут выведены все задачи -->
    {% for task in tasks %}
        <div class="task">
            <h3>{{task.title}}</h3>
            <p>{{task.description}}</p>
            <p>{{task.due_datetime}}</p>
        </div>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        {{creation_form}}
        <button type="submit">Подтвердить</button>
    </form>

    <form action="" method="post">
        {% csrf_token %}
        {{edit_form}}   
        <button type="submit">Изменить</button>
    </form>

</body>

</html>