<!-- шаблонный тэг для действий -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Операционный менеджер в IT</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Операционный менеджер в IT</h1>
            <h2>Гаврилова Анна</h2>
            <p>Желаемая должность: technical project manager/ delivery project manager</p>
        </div>
        <div class="about">
            <h2>Обо мне:</h2>
        </div>
        <div class="content">
            <div class="left">
                <p>
                    <img class="img_content1" src="https://cdn-icons-png.flaticon.com/512/5663/5663252.png" alt="Icon">
                    Более 6 лет занимаюсь операционным управлением, проектами и большими отделами. Я умею
                    систематизировать, адаптировать бизнес-процессы так, чтобы они приводили к результату. Моя суперсила
                    — создавать комфортную и продуктивную рабочую среду.

                    Последние два года руководила отделом продукта в роли оперейшн-лида одного из крупнейших
                    SaaS-сервисов в России (mpstats, аналитика маркетплейсов).

                    В свободное время изучаю python, а также занимаюсь бегом, танцами.
                </p>
            </div>
            <div class="right">
                <p> Санкт-Петербург, готова к командировкам, не готова к переезду</p>
                <div class="contacts">
                    <p>Контакты:</p>
                    <p>телеграм - <a href="https://t.me/gav_a">@gav_a</a></p>
                    <p>телефон - +79118364189</p>
                    <p>почта - <a href="mailto:a.v.gavrilova@bk.ru">a.v.gavrilova@bk.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>